<table>
  <tr>
    <th *ngFor="let col of columns">{{ col.name }}</th>
  </tr>
  <ng-template #tList let-list>
    <ng-container *ngFor="let item of list">
      <ng-container *ngIf="item.key && item.items; else tItem">
        <tr>
          <td [attr.colspan]="columns.length">{{ item.key }}</td>
        </tr>
        <ng-container *ngTemplateOutlet="tList; context: { $implicit: item.items }"></ng-container>
      </ng-container>
      <ng-template #tItem>
        <tr>
          <td *ngFor="let col of columns">{{ item[col.name] }}</td>
        </tr>
      </ng-template>
    </ng-container>
  </ng-template>
  <ng-container *ngTemplateOutlet="tList; context: { $implicit: items }"></ng-container>

  <!-- <ng-container *ngFor="let item of items">
    <ng-container *ngIf="item.key && item.items; else tItem">
      <tr>
        <td [attr.colspan]="columns.length">{{ item.key }}</td>
      </tr>
      <ng-container *ngTemplateOutlet="tList; context: item.items"></ng-container>
    </ng-container>
    <ng-template #tItem>
      <tr>
        <td *ngFor="let col of columns">{{ item[col.name] }}</td>
      </tr>
    </ng-template>
  </ng-container> -->

</table>
